body {
    color: rgb(180, 180, 180);
    font-family: 'Didact Gothic', monospace;
}

body.pushable > .pusher {
    background-color: #171c28;

}

.ui.header {
    color: white;
    font-family: 'Didact Gothic', monospace;
    font-weight: 750;
    font-size: 3rem;
}

h1.ui.header {
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
}

i {
    font-size: 3rem;
    margin: 24px;
}