body {
    color: rgb(180, 180, 180);
    font-family: 'Didact Gothic', monospace;
    align-items: center;
    display: flex;
    background-color: #171c28;
}

body.pushable > .pusher {
    background-color: #171c28;
}

.ui.header {
    color: white;
    font-family: 'Didact Gothic', monospace;
    font-weight: 750;
    font-size: 3rem;
}

h1.ui.header {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

i {
    font-size: 1.5rem;
    margin: 12px;
}

img.circular {
    border-radius: 500rem;
    max-width: 100%;
}

.content-wrap {
    margin: 0 auto;
    width: 50%;
}


a {
    color: #1da1f2
}

a:hover {
    color: #1da1e2
}

a:visited {
    color: #1da1f2
}


/* DESKTOPS */
@media screen and (min-width: 800px) {
    p {
        font-size: 2.5rem;
    }
    h1.ui.header {
        font-size: 3rem;
    }
    i {
        font-size: 3rem;
        margin: 24px;
    }
    
}
