body {
    color: rgb(180, 180, 180);
    font-family: 'Didact Gothic', monospace;
    align-items: center;
    display: flex;
    background-color: #171c28;
    
}

body.pushable > .pusher {
    background-color: #171c28;

}

.ui.header {
    color: white;
    font-family: 'Didact Gothic', monospace;
    font-weight: 750;
    font-size: 3rem;
}

h1.ui.header {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

i {
    font-size: 3rem;
    margin: 24px;
}

.content-wrap {
    margin: 0 auto;
}

/* TABLETS */
@media screen and (min-width: 768px) {

    body {
        font-size: 19px;
    }

    h1 {
        font-size: 4vw; line-height: 1;
    }
    p {
        font-size: 1.5rem;
    }
}

/* DESKTOPS */
@media screen and (min-width: 1200px) {
    .content-wrap {
        width: 50%;
    }
    p {
        font-size: 2.5rem;
    }
}

/* DESKTOPS HIGH RES */
@media screen and (min-width: 1600px) {
    .content-wrap {
        width: 50%;
    }
    p {
        font-size: 2.5rem;
    }
}